################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KIDS' FAIR/Class1.cs
/KIDS' FAIR/Class2.cs
